* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    overflow-x: hidden;
    background-color: #F8FDFF;
}

/*Container-1*/
.container-1 {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container-1 .background-img-1 {
    max-width: 680px;
    min-height: 600px;
    position: absolute;
    top: 0;
    left: 57%;
    z-index: -1;
}

.container-1 .background-img-2 {
    max-width: 500px;
    min-height: 500px;
    position: absolute;
    top: 0;
    left: 68%;
    z-index: -1;
}

.container-1 .background-img-3 {
    max-width: 350px;
    min-height: 400px;
    position: absolute;
    top: 18%;
    left: 60%;
    z-index: -1;
}
/*HEADER*/
header {
    padding-top: 30px;
}

header #brand-logo {
    padding: 8px 20px;
}

header a {
    color: #171A31;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

header a:hover {
    color: #fa4848;
}

header li {
    float: left;
    display: inline;
    padding: 8px 20px;
    
}

header nav {
    float: right;
}

header #login-btn {
    color: #fff;
    font-size: 14px;
    background-color: #2E91E2;
    padding: 8px 30px;
    margin: 0 20px 0 20px;
    border: 1px solid #2E91E2;
    border-radius: 5px;
    cursor: pointer;
}

header #login-btn:hover {
    background-color: #050505;
    border: none;
}

.showcase-1 {
    padding-left: 20px;
}
/*SHOWCASE*/
.showcase-1 .title-1 {
    color: #0F147F;
    font-size: 50px;
    font-weight: bold;
    margin: 30px 0;
}

.labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labels .label-1, .labels .label-2, .labels .label-3 {
    font-size: 20px;
    font-weight: bold;
    color: #4A4E6D;
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust as needed */
    margin-bottom: 10px; /* Adjust as needed */
}

/*BUTTONS*/
.buttons {
    padding-top: 40px;
}

.buttons .button-1 {
    color: #ffff;
    background-color: #2E91E2;
    border: 1px solid #2E91E2;
    border-radius: 15px;
    padding: 16px 35px;
}

.buttons .button-1:hover {
    background-color: #3181d6;
    border: none;
    cursor: pointer;
}

.buttons .button-2 {
    color: #ffff;
    background-color: #9866EB;
    border: 1px solid #9866EB;
    border-radius: 15px;
    padding: 16px 50px;
    margin-left: 25px;
}

.buttons .button-2:hover {
    background-color: #8256b2;
    border: none;
    cursor: pointer;
}

/*MEDIA QUERIES CONTAINER-1*/
@media (max-width: 768px) {
    .background-img-1, .background-img-2, .background-img-3 {
        display: none;
    }
    header #brand-logo,
    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }
    #brand-logo {
        display: block;
        margin: 0 auto;
        max-width: 200px;
     }
     .showcase-1 {
        padding: 0;
    }
     .showcase-1 .title-1 {
        text-align: center;
     }
     .showcase-1 .labels {
        align-items: center;
     }
     .buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;
     }
     .buttons .button-2 {
        margin: 0;
     }
}

/*Container-2*/
.container-2 {
    background-color: #F6F6FF;
    margin: 8rem auto;
}

.container-2 .title-2 {
    text-align: center;
    color: #0F147F;
    font-size: 44px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
}

.container-2 .description-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 17rem;
    gap: 0.65rem;
}

.container-2 .description-1:before,
.container-2 .description-1:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #050505;
}

.container-2 .description-1 {
    font-size: 20px;
    font-weight: bold;
    color: #4A4E6D;
}

.showcase-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin-top: 50px;
}

.showcase-2 .content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

.content-1 .vacuum-img {
    max-width: 400px;
    min-height: 350px;
}

.content-1 .description-2 {
    text-align: justify;
    font-size: 18px;
    font-weight: bold;
    color: #4A4E6D;
    width: 400px;
    margin-top: 50px;
}

.content-2 .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 30px 50px;
    margin-top: -12.3rem;
    border: 1px solid #9866EB;
    border-radius: 15px;
    background-color: #9866EB;
}

.contact-section .contact-us {
    color: #ffff;
    font-size: 18px;
    margin-bottom: -15px;
}

.contact-section .availability {
    color: #ffff;
    font-size: 15px;
    margin: 0 -6px 10px -6px;
}

.contact-section input[type="name"], 
.contact-section input[type="email"], 
.contact-section input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
}   

.contact-section .help {
    width: 100%;
    height: 100px;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

.contact-section .help {
    width: 100%;
    min-height: 100px;
    color: #818181;
}

.contact-section .send-message {
    width: 108%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: #0F147F;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffff;
}

/*MEDIA QUERIES CONTAINER-2*/

@media (max-width: 768px) {
    .content-2 .title-2 {
        text-align: center;
    }
    .container-2 .description-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .container-2 .description-1:before,
    .container-2 .description-1:after {
        content: "";
        flex: 1 1;
        border-bottom: 2px solid #050505
    }

    .showcase-2 {
        display: flex;
        flex-direction: column;
    }
    
    .showcase-2 .content-1 {
        margin-bottom: 5rem;
    }
}